.git
.gitignore
.DS_Store
.env
.env.*
.phpunit.cache
.phpunit.result.cache
*.log
/vendor
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache
/public/hot
Homestead.*
README.md
pc_builder_export.json
