@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #233d4c;
    --color-primary-lighter: #3a6275;
    --color-primary-light: #2e5060;
    --color-primary-dark: #1a2e3a;

    --color-secondary: #fd802e;
    --color-secondary-light: #fd9a57;
    --color-secondary-dark: #e06820;

    --color-success: #30a700;
    --color-success-light: #3ac400;
    --color-success-dark: #278900;

    --color-danger: #b91c1c;
    --color-danger-light: #f87171;
    --color-danger-dark: #991b1b;
    --color-danger-darker: #6b0f0f;
}

body {
    background-color: #111827;
}

/* remove arrows from number input fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
