@import 'tailwindcss';

@theme {
  --color-primary: #3b3b3b;
  --color-primary-light: #616161;
  --color-primary-dark: #171717;

  --color-success: #30a700;
  --color-success-light: #3ac400;
  --color-success-dark: #278900;
}
