@import 'tailwindcss';

@theme {
  --color-primary: #233d4c;
  --color-primary-light: #2e5060;
  --color-primary-dark: #1a2e3a;

  --color-secondary: #fd802e;
  --color-secondary-light: #fd9a57;
  --color-secondary-dark: #e06820;

  --color-success: #30a700;
  --color-success-light: #3ac400;
  --color-success-dark: #278900;

  --color-danger: #dc2626;
  --color-danger-light: #ef4444;
  --color-danger-dark: #b91c1c;
  --color-danger-darker: #871313;
}

@keyframes marquee {
  0%   { transform: translateX(0px); }
  100% { transform: translateX(-200px); }
}